 .nav-pills li a{
    text-decoration: none;
    color: white;
    padding-left: 15px;
  }

  .nav-pills li a:hover {
    color: black!important;
  }

  .nav-pills li:hover {
    background-color: #0dcaf0 !important;
    cursor: pointer;
    border-radius: 10px;
  }